<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$	</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveRight:</string>
		<string>deleteBackward:</string>
		<string>swapWithMark:</string>
		<string>moveLeft:</string>
	</array>
	<key>@</key>
	<array>
		<string>moveToEndOfParagraph:</string>
		<string>insertNewline:</string>
	</array>
	<key>@$</key>
	<array>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveLeft:</string>
		<string>insertNewline:</string>
	</array>
	<key>@$</key>
	<array>
		<string>deleteToBeginningOfParagraph:</string>
	</array>
	<key>@$</key>
	<array>
		<string>deleteToEndOfParagraph:</string>
	</array>
	<key>@~$</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>selectWord:</string>
		<string>moveRight:</string>
		<string>selectToMark:</string>
	</array>
	<key>@~-</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>deleteForward:</string>
		<string>swapWithMark:</string>
		<string>moveLeft:</string>
	</array>
	<key>@~7</key>
	<array>
		<string>setMark:</string>
		<string>rightMouseDown:</string>
		<string>swapWithMark:</string>
	</array>
	<key>@~&lt;</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>deleteForward:</string>
		<string>deleteForward:</string>
		<string>swapWithMark:</string>
		<string>moveLeft:</string>
	</array>
	<key>@~=</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>insertText:</string>
		<string># </string>
		<string>selectWord:</string>
		<string>delete:</string>
		<string>swapWithMark:</string>
		<string>moveRight:</string>
	</array>
	<key>@~&gt;</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>insertText:</string>
		<string>&gt; </string>
		<string>swapWithMark:</string>
		<string>moveRight:</string>
		<string>moveRight:</string>
	</array>
	<key>@~S</key>
	<array>
		<string>saveAs:</string>
	</array>
	<key>@~^</key>
	<array>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveWordRight:</string>
		<string>moveWordLeft:</string>
	</array>
	<key>@~_</key>
	<array>
		<string>selectWord:</string>
		<string>moveRight:</string>
		<string>setMark:</string>
		<string>moveWordRight:</string>
		<string>moveWordLeft:</string>
		<string>moveLeft:</string>
		<string>selectWord:</string>
		<string>insertText:</string>
		<string>-</string>
		<string>moveWordRight:</string>
	</array>
	<key>@~b</key>
	<array>
		<string>selectWord:</string>
		<string>setMark:</string>
		<string>swapWithMark:</string>
		<string>deleteToMark:</string>
		<string>insertText:</string>
		<string>**</string>
		<string>yank:</string>
		<string>insertText:</string>
		<string> </string>
		<string>moveLeft:</string>
		<string>insertText:</string>
		<string>**</string>
		<string>moveRight:</string>
		<string>deleteBackward:</string>
	</array>
	<key>@~i</key>
	<array>
		<string>selectWord:</string>
		<string>setMark:</string>
		<string>swapWithMark:</string>
		<string>deleteToMark:</string>
		<string>insertText:</string>
		<string>*</string>
		<string>yank:</string>
		<string>insertText:</string>
		<string> </string>
		<string>moveLeft:</string>
		<string>insertText:</string>
		<string>*</string>
		<string>moveRight:</string>
		<string>deleteBackward:</string>
	</array>
	<key>@~</key>
	<array>
		<string>moveToBeginningOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>moveLeft:</string>
		<string>selectWord:</string>
		<string>moveRight:</string>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>deleteForward:</string>
		<string>swapWithMark:</string>
		<string>moveLeft:</string>
	</array>
	<key>^$@</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>moveLeft:</string>
		<string>selectWord:</string>
		<string>delete:</string>
		<string>swapWithMark:</string>
	</array>
	<key>^$@</key>
	<array>
		<string>setMark:</string>
		<string>moveToEndOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>selectWord:</string>
		<string>deleteBackward:</string>
		<string>swapWithMark:</string>
	</array>
	<key>^/</key>
	<array>
		<string>Undo:</string>
	</array>
	<key>^&lt;</key>
	<array>
		<string>setMark:</string>
		<string>deleteToMark:</string>
		<string>insertText:</string>
		<string>&lt;</string>
		<string>setMark:</string>
		<string>yank:</string>
		<string>swapWithMark:</string>
		<string>moveWordForwardAndModifySelection:</string>
		<string>copy:</string>
		<string>swapWithMark:</string>
		<string>insertText:</string>
		<string>&gt;</string>
		<string>setMark:</string>
		<string>insertText:</string>
		<string>&lt;/</string>
		<string>paste:</string>
		<string>insertText:</string>
		<string>&gt;</string>
		<string>swapWithMark:</string>
	</array>
	<key>^@$</key>
	<array>
		<string>setMark:</string>
		<string>moveToEndOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>selectWord:</string>
		<string>deleteBackward:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>moveLeft:</string>
		<string>selectWord:</string>
		<string>delete:</string>
		<string>swapWithMark:</string>
	</array>
	<key>^@$</key>
	<array>
		<string>moveToEndOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>selectWord:</string>
		<string>moveBackward:</string>
		<string>moveToBeginningOfParagraphAndModifySelection:</string>
		<string>moveWordForwardAndModifySelection:</string>
		<string>moveWordBackwardAndModifySelection:</string>
	</array>
	<key>^@c</key>
	<dict>
		<key>!</key>
		<array>
			<string>setMark:</string>
			<string>swapWithMark:</string>
			<string>delete:</string>
			<string>insertText:</string>
			<string>&lt;!-- </string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> --&gt;</string>
			<string>swapWithMark:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
		</array>
		<key>*</key>
		<array>
			<string>setMark:</string>
			<string>swapWithMark:</string>
			<string>delete:</string>
			<string>insertText:</string>
			<string>/* </string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> */</string>
			<string>swapWithMark:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
		</array>
		<key>/</key>
		<array>
			<string>moveToBeginningOfParagraph:</string>
			<string>insertText:</string>
			<string>// </string>
			<string>moveToEndOfParagraph:</string>
			<string>moveForward:</string>
		</array>
		<key>\</key>
		<array>
			<string>moveToBeginningOfParagraph:</string>
			<string>insertText:</string>
			<string># </string>
			<string>moveToEndOfParagraph:</string>
			<string>moveForward:</string>
		</array>
	</dict>
	<key>^@e</key>
	<dict>
		<key>/</key>
		<array>
			<string>insertText:</string>
			<string>http://</string>
		</array>
		<key>=</key>
		<array>
			<string>insertText:</string>
			<string>=""</string>
			<string>moveLeft:</string>
		</array>
		<key>a</key>
		<dict>
			<key>c</key>
			<array>
				<string>setMark:</string>
				<string>swapWithMark:</string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string>&lt;a href="</string>
				<string>paste:</string>
				<string>insertText:</string>
				<string>"&gt;</string>
				<string>yank:</string>
				<string>insertText:</string>
				<string>&lt;/a&gt;</string>
			</array>
			<key>t</key>
			<array>
				<string>setMark:</string>
				<string>swapWithMark:</string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string>&lt;a href="</string>
				<string>setMark:</string>
				<string>insertText:</string>
				<string>"&gt;</string>
				<string>yank:</string>
				<string>insertText:</string>
				<string>&lt;/a&gt;</string>
				<string>swapWithMark:</string>
				<string>setMark:</string>
				<string>insertText:</string>
				<string>http://</string>
				<string>selectToMark:</string>
			</array>
		</dict>
		<key>e</key>
		<array>
			<string>insertText:</string>
			<string>&amp;;</string>
			<string>moveLeft:</string>
		</array>
		<key>i</key>
		<dict>
			<key>c</key>
			<array>
				<string>setMark:</string>
				<string>swapWithMark:</string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string>&lt;img src="</string>
				<string>paste:</string>
				<string>insertText:</string>
				<string>" alt="</string>
				<string>setMark:</string>
				<string>yank:</string>
				<string>insertText:</string>
				<string>"&gt;</string>
				<string>swapWithMark:</string>
			</array>
			<key>t</key>
			<array>
				<string>setMark:</string>
				<string>swapWithMark:</string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string>&lt;img src="</string>
				<string>setMark:</string>
				<string>insertText:</string>
				<string>" alt="</string>
				<string>yank:</string>
				<string>insertText:</string>
				<string>"&gt;</string>
				<string>swapWithMark:</string>
			</array>
		</dict>
		<key>t</key>
		<array>
			<string>setMark:</string>
			<string>moveWordBackward:</string>
			<string>deleteToMark:</string>
			<string>insertText:</string>
			<string>&lt;</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string>&gt;</string>
			<string>setMark:</string>
			<string>insertText:</string>
			<string>&lt;/</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string>&gt;</string>
			<string>swapWithMark:</string>
		</array>
	</dict>
	<key>^@h</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveWordRight:</string>
		<string>moveWordLeft:</string>
		<string>deleteBackward:</string>
		<string>swapWithMark:</string>
		<string>moveLeft:</string>
	</array>
	<key>^@j</key>
	<array>
		<string>selectParagraph:</string>
		<string>setMark:</string>
		<string>deleteToMark:</string>
		<string>moveToEndOfParagraph:</string>
		<string>moveRight:</string>
		<string>setMark:</string>
		<string>yank:</string>
		<string>moveLeft:</string>
		<string>selectToMark:</string>
	</array>
	<key>^@k</key>
	<array>
		<string>selectParagraph:</string>
		<string>setMark:</string>
		<string>deleteToMark:</string>
		<string>moveLeft:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>yank:</string>
		<string>moveLeft:</string>
		<string>selectToMark:</string>
		<string>moveLeft:</string>
	</array>
	<key>^@l</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>insertText:</string>
		<string>	</string>
		<string>swapWithMark:</string>
		<string>moveRight:</string>
	</array>
	<key>^@s</key>
	<dict>
		<key>"</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>" </string>
			<string>deleteBackward:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>"</string>
			<string>deleteForward:</string>
		</array>
		<key>'</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>' </string>
			<string>deleteBackward:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>'</string>
			<string>deleteForward:</string>
		</array>
		<key>(</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>( </string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string> )</string>
			<string>deleteForward:</string>
		</array>
		<key>)</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>( </string>
			<string>deleteBackward:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>)</string>
			<string>deleteForward:</string>
		</array>
		<key>&lt;</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>&lt; </string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string> &gt;</string>
			<string>deleteForward:</string>
		</array>
		<key>&gt;</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>&lt; </string>
			<string>deleteBackward:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>&gt;</string>
			<string>deleteForward:</string>
		</array>
		<key>[</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>[ </string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string> ]</string>
			<string>deleteForward:</string>
		</array>
		<key>]</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>[ </string>
			<string>deleteBackward:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>]</string>
			<string>deleteForward:</string>
		</array>
		<key>`</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>` </string>
			<string>deleteBackward:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>`</string>
			<string>deleteForward:</string>
		</array>
		<key>{</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>{ </string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string> }</string>
			<string>deleteForward:</string>
		</array>
		<key>}</key>
		<array>
			<string>delete:</string>
			<string>insertText:</string>
			<string>{ </string>
			<string>deleteBackward:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>}</string>
			<string>deleteForward:</string>
		</array>
	</dict>
	<key>^@w</key>
	<dict>
		<key>	</key>
		<array>
			<string>insertText:</string>
			<string>	</string>
		</array>
		<key>
</key>
		<array>
			<string>insertNewlineIgnoringFieldEditor:</string>
		</array>
		<key>*</key>
		<array>
			<string>setMark:</string>
			<string>moveToBeginningOfParagraph:</string>
			<string>insertText:</string>
			<string>* </string>
			<string>swapWithMark:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
		</array>
		<key>+</key>
		<array>
			<string>setMark:</string>
			<string>moveToBeginningOfParagraph:</string>
			<string>insertText:</string>
			<string>+ </string>
			<string>swapWithMark:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
		</array>
		<key>-</key>
		<array>
			<string>setMark:</string>
			<string>moveToBeginningOfParagraph:</string>
			<string>insertText:</string>
			<string>- </string>
			<string>swapWithMark:</string>
			<string>moveRight:</string>
			<string>moveRight:</string>
		</array>
		<key>1</key>
		<array>
			<string>breakUndoCoalescing</string>
			<string>setMark:</string>
			<string>moveToEndOfParagraph:</string>
			<string>insertText:</string>
			<string>x</string>
			<string>moveToBeginningOfParagraph:</string>
			<string>moveWordForward:</string>
			<string>moveWordBackward:</string>
			<string>moveLeftAndModifySelection:</string>
			<string>moveLeftAndModifySelection:</string>
			<string>insertText:</string>
			<string>1. </string>
			<string>moveToEndOfParagraph:</string>
			<string>deleteBackward:</string>
			<string>swapWithMark:</string>
			<string>moveRight:</string>
		</array>
		<key>8</key>
		<array>
			<string>breakUndoCoalescing</string>
			<string>setMark:</string>
			<string>moveToEndOfParagraph:</string>
			<string>insertText:</string>
			<string>x</string>
			<string>moveToBeginningOfParagraph:</string>
			<string>moveWordForward:</string>
			<string>moveRight:</string>
			<string>moveWordForward:</string>
			<string>moveWordBackward:</string>
			<string>moveWordBackwardAndModifySelection:</string>
			<string>insertText:</string>
			<string>* </string>
			<string>moveToEndOfParagraph:</string>
			<string>deleteBackward:</string>
			<string>swapWithMark:</string>
			<string>moveLeft:</string>
		</array>
		<key>:</key>
		<dict>
			<key>c</key>
			<array>
				<string>setMark:</string>
				<string>swapWithMark:</string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string> [</string>
				<string>moveLeft:</string>
				<string>deleteBackward:</string>
				<string>moveRight:</string>
				<string>yank:</string>
				<string>insertText:</string>
				<string> </string>
				<string>moveLeft:</string>
				<string>insertText:</string>
				<string>]: </string>
				<string>pasteAsPlainText:</string>
				<string>moveRight:</string>
				<string>deleteBackward:</string>
				<string>swapWithMark:</string>
			</array>
			<key>t</key>
			<array>
				<string>setMark:</string>
				<string>swapWithMark:</string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string> [</string>
				<string>moveLeft:</string>
				<string>deleteBackward:</string>
				<string>moveRight:</string>
				<string>yank:</string>
				<string>insertText:</string>
				<string> </string>
				<string>moveLeft:</string>
				<string>insertText:</string>
				<string>]: </string>
				<string>moveRight:</string>
				<string>deleteBackward:</string>
			</array>
		</dict>
		<key>[</key>
		<array>
			<string>setMark:</string>
			<string>swapWithMark:</string>
			<string>deleteToMark:</string>
			<string>insertText:</string>
			<string> [</string>
			<string>moveLeft:</string>
			<string>deleteBackward:</string>
			<string>moveRight:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>][]</string>
			<string>moveRight:</string>
			<string>deleteBackward:</string>
			<string>moveLeft:</string>
		</array>
		<key>]</key>
		<array>
			<string>setMark:</string>
			<string>swapWithMark:</string>
			<string>deleteToMark:</string>
			<string>insertText:</string>
			<string> [</string>
			<string>moveLeft:</string>
			<string>deleteBackward:</string>
			<string>moveRight:</string>
			<string>yank:</string>
			<string>insertText:</string>
			<string> </string>
			<string>moveLeft:</string>
			<string>insertText:</string>
			<string>]: </string>
			<string>moveRight:</string>
			<string>deleteBackward:</string>
		</array>
		<key>h</key>
		<dict>
			<key>1</key>
			<array>
				<string>setMark:</string>
				<string>breakUndoCoalescing:</string>
				<string>moveToBeginningOfParagraph:</string>
				<string>insertText:</string>
				<string># </string>
				<string>selectWord:</string>
				<string>insertText:</string>
				<string> </string>
				<string>swapWithMark:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
			</array>
			<key>2</key>
			<array>
				<string>setMark:</string>
				<string>breakUndoCoalescing:</string>
				<string>moveToBeginningOfParagraph:</string>
				<string>insertText:</string>
				<string>## </string>
				<string>selectWord:</string>
				<string>insertText:</string>
				<string> </string>
				<string>swapWithMark:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
			</array>
			<key>3</key>
			<array>
				<string>setMark:</string>
				<string>breakUndoCoalescing:</string>
				<string>moveToBeginningOfParagraph:</string>
				<string>insertText:</string>
				<string>### </string>
				<string>selectWord:</string>
				<string>insertText:</string>
				<string> </string>
				<string>swapWithMark:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
			</array>
			<key>4</key>
			<array>
				<string>setMark:</string>
				<string>breakUndoCoalescing:</string>
				<string>moveToBeginningOfParagraph:</string>
				<string>insertText:</string>
				<string>#### </string>
				<string>selectWord:</string>
				<string>insertText:</string>
				<string> </string>
				<string>swapWithMark:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
			</array>
			<key>5</key>
			<array>
				<string>setMark:</string>
				<string>breakUndoCoalescing:</string>
				<string>moveToBeginningOfParagraph:</string>
				<string>insertText:</string>
				<string>##### </string>
				<string>selectWord:</string>
				<string>insertText:</string>
				<string> </string>
				<string>swapWithMark:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
			</array>
			<key>6</key>
			<array>
				<string>setMark:</string>
				<string>breakUndoCoalescing:</string>
				<string>moveToBeginningOfParagraph:</string>
				<string>insertText:</string>
				<string>###### </string>
				<string>selectWord:</string>
				<string>insertText:</string>
				<string> </string>
				<string>swapWithMark:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
				<string>moveRight:</string>
			</array>
		</dict>
		<key>i</key>
		<dict>
			<key>c</key>
			<array>
				<string>setMark:</string>
				<string>swapWithMark:</string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string>![</string>
				<string>yank:</string>
				<string>setMark:</string>
				<string>insertText:</string>
				<string> </string>
				<string>moveLeft:</string>
				<string>insertText:</string>
				<string>](</string>
				<string>pasteAsPlainText:</string>
				<string>insertText:</string>
				<string>)</string>
				<string>moveRight:</string>
				<string>deleteBackward:</string>
				<string>swapWithMark:</string>
			</array>
			<key>t</key>
			<array>
				<string>setMark:</string>
				<string>swapWithMark:</string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string>![</string>
				<string>yank:</string>
				<string>insertText:</string>
				<string> </string>
				<string>moveLeft:</string>
				<string>insertText:</string>
				<string>]()</string>
				<string>moveRight:</string>
				<string>deleteBackward:</string>
				<string>moveLeft:</string>
			</array>
		</dict>
		<key>l</key>
		<dict>
			<key>c</key>
			<array>
				<string>setMark:</string>
				<string>breakUndoCoalescing:</string>
				<string>moveRight:</string>
				<string>insertText:</string>
				<string> </string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string> [</string>
				<string>moveLeft:</string>
				<string>deleteBackward:</string>
				<string>moveRight:</string>
				<string>yank:</string>
				<string>moveLeft:</string>
				<string>insertText:</string>
				<string>](</string>
				<string>setMark:</string>
				<string>pasteAsPlainText:</string>
				<string>insertText:</string>
				<string>)</string>
				<string>moveRight:</string>
				<string>deleteBackward:</string>
				<string>moveLeft:</string>
				<string>selectToMark:</string>
			</array>
			<key>t</key>
			<array>
				<string>setMark:</string>
				<string>breakUndoCoalescing:</string>
				<string>moveRight:</string>
				<string>insertText:</string>
				<string> </string>
				<string>deleteToMark:</string>
				<string>insertText:</string>
				<string> [</string>
				<string>moveLeft:</string>
				<string>deleteBackward:</string>
				<string>moveRight:</string>
				<string>yank:</string>
				<string>moveLeft:</string>
				<string>insertText:</string>
				<string>]()</string>
				<string>moveRight:</string>
				<string>deleteBackward:</string>
				<string>moveLeft:</string>
				<string>setMark:</string>
				<string>insertText:</string>
				<string>http://</string>
				<string>selectToMark:</string>
			</array>
		</dict>
	</dict>
	<key>^@</key>
	<array>
		<string>selectParagraph:</string>
		<string>setMark:</string>
		<string>deleteToMark:</string>
		<string>moveLeft:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>yank:</string>
		<string>moveLeft:</string>
		<string>selectToMark:</string>
		<string>moveLeft:</string>
	</array>
	<key>^@</key>
	<array>
		<string>selectParagraph:</string>
		<string>setMark:</string>
		<string>deleteToMark:</string>
		<string>moveToEndOfParagraph:</string>
		<string>moveRight:</string>
		<string>setMark:</string>
		<string>yank:</string>
		<string>moveLeft:</string>
		<string>selectToMark:</string>
	</array>
	<key>^@</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveWordRight:</string>
		<string>moveWordLeft:</string>
		<string>deleteBackward:</string>
		<string>swapWithMark:</string>
		<string>moveLeft:</string>
	</array>
	<key>^@</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>insertText:</string>
		<string>	</string>
		<string>swapWithMark:</string>
		<string>moveRight:</string>
	</array>
	<key>^A</key>
	<array>
		<string>moveToBeginningOfParagraphAndModifySelection:</string>
		<string>copy:</string>
	</array>
	<key>^E</key>
	<array>
		<string>moveToEndOfParagraphAndModifySelection:</string>
		<string>copy:</string>
	</array>
	<key>^_</key>
	<array>
		<string>Undo:</string>
	</array>
	<key>^u</key>
	<array>
		<string>selectParagraph:</string>
		<string>delete:</string>
		<string>moveToBeginningOfParagraph:</string>
	</array>
	<key>^v</key>
	<array>
		<string>pageDown:</string>
	</array>
	<key>^w</key>
	<array>
		<string>deleteWordBackward:</string>
	</array>
	<key>^x</key>
	<dict>
		<key>^f</key>
		<array>
			<string>openDocument:</string>
		</array>
		<key>^m</key>
		<array>
			<string>selectToMark:</string>
		</array>
		<key>^s</key>
		<array>
			<string>saveDocument:</string>
		</array>
		<key>^w</key>
		<array>
			<string>saveDocumentAs:</string>
		</array>
		<key>^x</key>
		<array>
			<string>swapWithMark:</string>
		</array>
		<key>k</key>
		<array>
			<string>performClose:</string>
		</array>
		<key>u</key>
		<array>
			<string>undo:</string>
		</array>
	</dict>
	<key>^y</key>
	<array>
		<string>yankAndSelect:</string>
	</array>
	<key>^~$</key>
	<array>
		<string>selectParagraph:</string>
		<string>moveParagraphBackwardAndModifySelection:</string>
	</array>
	<key>^~$</key>
	<array>
		<string>selectParagraph:</string>
		<string>moveParagraphForwardAndModifySelection:</string>
	</array>
	<key>^~$</key>
	<array>
		<string>selectWord:</string>
		<string>moveWordLeftAndModifySelection:</string>
	</array>
	<key>^~$</key>
	<array>
		<string>selectWord:</string>
		<string>moveWordRightAndModifySelection:</string>
	</array>
	<key>^~S</key>
	<array>
		<string>moveToEndOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>selectWord:</string>
		<string>moveBackward:</string>
		<string>moveToBeginningOfParagraphAndModifySelection:</string>
		<string>moveWordForwardAndModifySelection:</string>
		<string>moveWordBackwardAndModifySelection:</string>
	</array>
	<key>^~</key>
	<array>
		<string>moveToEndOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>selectWord:</string>
		<string>deleteBackward:</string>
	</array>
	<key>~/</key>
	<array>
		<string>Complete:</string>
	</array>
	<key>~1</key>
	<array>
		<string>setMark:</string>
	</array>
	<key>~2</key>
	<array>
		<string>swapWithMark:</string>
		<string>centerSelectionInVisibleArea:</string>
	</array>
	<key>~@</key>
	<array>
		<string>breakUndoCoalescing</string>
		<string>moveToEndOfParagraph:</string>
		<string>insertText:</string>
		<string>x</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>selectWord:</string>
		<string>moveRightAndModifySelection:</string>
		<string>moveWordForwardAndModifySelection:</string>
		<string>moveWordBackwardAndModifySelection:</string>
		<string>moveLeftAndModifySelection:</string>
		<string>setMark:</string>
		<string>deleteToMark:</string>
		<string>yank:</string>
		<string>moveToEndOfParagraph:</string>
		<string>deleteBackward:</string>
		<string>insertNewlineIgnoringFieldEditor:</string>
		<string>deleteToBeginningOfParagraph:</string>
		<string>yank:</string>
		<string>insertText:</string>
		<string> </string>
		<string>selectWord:</string>
		<string>insertText:</string>
		<string> </string>
	</array>
	<key>~@</key>
	<array>
		<string>moveToEndOfParagraph:</string>
		<string>insertText:</string>
		<string> </string>
		<string>selectWord:</string>
		<string>moveLeft:</string>
		<string>setMark:</string>
		<string>moveToEndOfParagraph:</string>
		<string>deleteBackward:</string>
		<string>swapWithMark:</string>
	</array>
	<key>~O</key>
	<array>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveLeft:</string>
		<string>insertNewline:</string>
	</array>
	<key>~P</key>
	<array>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveLeft:</string>
		<string>paste:</string>
	</array>
	<key>~S</key>
	<array>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveToEndOfParagraphAndModifySelection:</string>
		<string>moveRightAndModifySelection:</string>
	</array>
	<key>~W</key>
	<array>
		<string>moveWordBackwardAndModifySelection:</string>
	</array>
	<key>~b</key>
	<array>
		<string>moveWordBackward:</string>
	</array>
	<key>~d</key>
	<array>
		<string>deleteWordForward:</string>
	</array>
	<key>~f</key>
	<array>
		<string>moveWordForward:</string>
	</array>
	<key>~k</key>
	<array>
		<string>moveToEndOfParagraphAndModifySelection:</string>
		<string>cut:</string>
	</array>
	<key>~o</key>
	<array>
		<string>moveToEndOfParagraph:</string>
		<string>insertNewline:</string>
	</array>
	<key>~p</key>
	<array>
		<string>moveToEndOfParagraph:</string>
		<string>moveRight:</string>
		<string>insertNewline:</string>
		<string>moveLeft:</string>
		<string>paste:</string>
	</array>
	<key>~q</key>
	<array>
		<string>moveToBeginningOfParagraphAndModifySelection:</string>
		<string>cut:</string>
	</array>
	<key>~r</key>
	<array>
		<string>moveLeftAndModifySelection:</string>
		<string>copy:</string>
		<string>moveRight:</string>
		<string>paste:</string>
	</array>
	<key>~s</key>
	<array>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveToEndOfParagraphAndModifySelection:</string>
	</array>
	<key>~v</key>
	<array>
		<string>pageUp:</string>
	</array>
	<key>~w</key>
	<array>
		<string>selectWord:</string>
	</array>
	<key>~x</key>
	<array>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveToEndOfParagraphAndModifySelection:</string>
		<string>cut:</string>
	</array>
	<key>~y</key>
	<array>
		<string>setMark:</string>
		<string>moveToBeginningOfParagraph:</string>
		<string>moveToEndOfParagraphAndModifySelection:</string>
		<string>copy:</string>
		<string>swapWithMark:</string>
	</array>
	<key>~</key>
	<array>
		<string>deleteWordBackward:</string>
	</array>
</dict>
</plist>
